/* AuthPage.css */
.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Flip vertically along X-axis */
.rotate-x-180 {
    transform: rotateX(180deg);
}

.rotate-x-0 {
    transform: rotateX(0deg);
}
